<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- 包含基本配置 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- 定义变量 -->
    <springProperty scope="context" name="application" source="spring.application.name"/>
    <springProperty scope="context" name="active" source="spring.profiles.active"/>
    <!-- LogStash配置 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!-- 服务器配置 -->
        <destination>192.168.3.14:5044</destination>
        <!-- 日志输出编码 -->
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    {
                        <!--应用名称 -->
                        "application": "${application}",
                        <!-- 环境信息 -->
                        "active": "${active}",
                        <!--打印时间 -->
                        "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                        <!--线程名称 -->
                        "thread": "%thread",
                        <!--日志级别 -->
                        "level": "%level",
                        <!--日志名称 -->
                        "logger_name": "%logger",
                        <!--日志信息 -->
                        "message": "%msg",
                        <!-- 请求id -->
                        "trace_id": "%trace_id",
                        <!-- 前端请求时间戳 -->
                        "_": "%_"
                        <!--日志堆栈 -->
                        "stack_trace": "%exception"
                    }
                </pattern>
            </providers>
        </encoder>
    </appender>
    <root>
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>